.info{
    color: royalblue;
}
.signup{
    color: red;
}
.login{
    color: seagreen;
}
.staff{
    color: cornflowerblue;
}
.achievments{
    color: tomato;
}
.about{
    color: chocolate;
}

